<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action="/shortURL" method="post">
        <label label = 'URL'></label>
        <input type="text" id='URL' name ='URL'  >
        <button type="submit">Short URL </button>
    </form>
</body>
</html>